// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-show-image, .reservations-new-image {
    width: 100%;
    object-fit: cover;
}

.room-show-profile-name, .reservations-new-profile-name {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
}

.room-show-profile-address, .reservations-new-profile-address {
    font-size: 14px;
}

.room-show-detile, .reservations-new-detile {
    display: flex;
    align-items: center;
}

.room-show-profile, .reservations-new-profile {
    padding: 15px;
}

.room-show-detile-content, .reservations-new-detile-content {
    font-size: 16px;
    line-height: 30px;
    padding: 30px 10px;
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    word-break: break-all;
}